[submodule "maintops-api-laravel"]
	path = maintops-api-laravel
	url = https://github.com/cofran91/maintops-api-laravel.git
[submodule "maintops-web-vue"]
	path = maintops-web-vue
	url = https://github.com/cofran91/maintops-web-vue.git
[submodule "maintops-realtime-node"]
	path = maintops-realtime-node
	url = https://github.com/cofran91/maintops-realtime-node.git
[submodule "maintops-analytics-fastapi"]
	path = maintops-analytics-fastapi
	url = https://github.com/cofran91/maintops-analytics-fastapi.git
